.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.cardImage {  
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
} 