

.detail-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-box {
  width: 90vw;
  min-width: 300px;
  max-width: 600px;
  background-color: #ffffff;
  display: grid;
  gap: 10px;
}

.detail-image {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-title {
  font-size: 2rem;
  font-weight: 900;
}

.detail-box :nth-child(n+2):nth-child(-n+4) {
  margin-top: 10px;
}